body{
    background:grey;
}
button{
    border-radius:12px;
}
#uberdiv{
    /* display:flex; */
    justify-content:space-between;
    text-align:center;
    width:80%;
    margin:auto;
}
h1{
    width:100%;
}
table{
    margin:auto;
    width:50%;
    position:absolute;
    bottom: 25%;
    left:25%;
}

.bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;

  z-index:-5;
}
.bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  width: 23%;
  height: auto;
}

.nback_inner_p{
    border:1px solid green;
    text-align:center;
}
.nback_tomatch_p{
    border:1px solid yellow;
    color:black;
    text-align:center;
}
.nback_response_p{
    text-align:center;
}
.nback_outer_div{
     border:4px solid grey; /* should match background: match feedback-width so no jump */
    border-width:5px;
}
.number_framediv{
    border:1px solid white;
}
.number_innerdiv{
    width:33%;
    display:inline-block;
    margin:auto;
    text-align:center;
    padding-block: 30px;
}
.rnddrilldiv{
    /* border:1px solid red; */
    text-align:center;
    position:absolute;
    margin:auto;
    width:80%;
    bottom:0%;
}

.settings_div{
    border:1px solid black;
    width:25%;
    margin:auto;
}

.bleft_img{
    position: fixed; 
    bottom: 0;
    left: 0;
    height: 200px;
}
.bright_img{
    position: fixed; 
    bottom: 0;
    right: 0;
    height: 200px;
}
.cloze_table{
    border:1px solid black;
    width:100%;
    height:80%;
    top:150px;
    left:0;
}
.cloze_cell{
    border:1px dashed green;
}
.cloze_done_span{
    color:blue;
}

#twocol_container{
    /* border: 3px solid #fff; */
    padding: 20px;
    width: 100%;
}
.twocol_child{
    width: 40%;
    float: left;
    padding: 10px;
    margin: 5px;
    border: 2px solid blue;
}
.lcwc_acceptrejectdiv{
    display:fixed;
    bottom:0;
}
/* #rnd_drill_button{ */
/*     position:absolute; */
/*     bottom:0%; */
/*     margin:auto; */
/* } */
